html {
    background-image: url("Resources/background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    width:100%;
    height: fit-content;
    text-align: center;
}
header img {
    display: inline-block;
    background-color:lightgray;
    border-radius: 25px;
    width: 50%;
    height: auto;

}

nav {
    background-color: #11096e
}

nav a{
    color:white;
}
