html{
    background-image: url("Resources/background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    width:100%;
    height: fit-content;
    text-align: center;
}
header img{
    display: inline-block;
    background-color: lightgray;
    border-radius: 25px;
    width: 30%;
    height: auto;
}

nav{
    background-color: #0f2647;
    border-radius: 5px;
}

nav a{
    color: lightgray;
}

div{
    background-color: #0f2647;
    color: lightgray;
    border-radius: 20px;
    height: fit-content;
}

.left-text{
}

.right-text{
    
}

.left-image{
    height: 25%;
    width: auto;
    padding: 10px;
}

.right-image{
    height: 25%;
    width: auto;
    padding: 10px;
}

footer{
    background-color: #0f2647;
    border-radius: 5px;
    color: lightgray;
    text-align: center;
}

footer p{
    margin: 5px;
}