.background{
    background-image: url("Resources/background.png");
    background-size: contain;
    background-repeat: repeat;
}

header{
    width:100%;
    height: fit-content;
    background-color: #0f2647;   
}
header img{
    width: 33vh;
    height: auto;
    background-color:white;
    margin: 0;
    padding: 0;
}

header .col-9{
padding-left: 0;
}

#header-contact, #header-contact a{
    text-align: right;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.2vh;
}

#header-contact p{
    margin-bottom:0;
}

.sidebar{
    height: 100%;
    width:10%;
    position: fixed;
    background-color:#0f2647;    
}

.sidebar a{
    display: block;
    padding: .6vh;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.2vh; 
}

.sidebar i{
    margin-left: 1%;
    margin-right:2%;
}

main, footer{
    margin-top:2%;
    margin-left:12%;
    margin-right:2%;
    background-color: #0f2647;
    color:lightgray;
}

footer{
    text-align: center;
    margin-top:1%;
}

footer p{
    margin: 3px;
}

.flexbox{
    display: flex;
}

.images{
    height: auto;
    width: 95%;
    margin: 10px;
}

.text{
    width: 67%;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5vw;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
    margin-right: 15px;
}

